

{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %} About
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}


    <div class="container top-content-container">
        <h3>About tumbling utilities</h3>
        <p>This web site hosts a collection of web development utilities developed by <a href="http://tumblingprogrammer.com">tumbling programmer</a>; several articles on that site refer to these utilities, which are particularly helpful for web developers who use the <a href="https://www.djangoproject.com/">django framework</a>.</p>
        <p>You can find the repository for the utilities (and this web site) on <a href="#">github</a>.</p>




    </div>



{% endblock %}

{% block scripts %}
{% endblock %}