

{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %} Django secret key generator
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container top-content-container">
        <h3>Django secret key generator</h3>
        <div class="slugify-results">
            <span id="django-secret-key-text">{{ django_secret_key }}</span>
        </div>
        <div class="button-bar-div">
            <div class="button-div inline"><input id="copy-to-clipboard-btn" class="btn btn-primary" type="button"
                                                  value="copy to clipboard"
                                                  data-clipboard-target="#django-secret-key-text"></div>
            <div class="button-div inline"><input id="refresh-btn" class="btn btn-primary" type="button"
                                                  value="generate a different key"></div>
        </div>
    </div>
    <div class="wrapper-div">
        <div class="alert alert-success centered-div" id="message-div" style="margin-top:18px;">
            <span id="success"></span>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="{% static 'js/django-secret-key-generator.js' %}"></script>

{% endblock %}