{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

    <div class="jumbotron centered-text">
        <h1>Hello djangonaut!</h1>
    </div>

    <p class="centered-text">This is regular text (i.e., with no Bootstrap applied)</p>
    <p class="centered-text"><span class="text-muted">This is a bootstrapped text - if different from the one above (i.e., it is greyish),
        Bootstrap works!</span></p>

{% endblock %}

{% block scripts %}
{% endblock %}