{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

    <div class="jumbotron centered-text">
        <h1>Hello djangonaut!</h1>
    </div>

    <div class="container-fluid">
        <h3>This is the home of a django project boilerplate</h3>
        <p>You can find the article / tutorial that explains how it got created by visiting
            <a href="https://www.tumblingprogrammer.com/setting-up-a-django-project-boilerplate/">
                https://www.tumblingprogrammer.com/setting-up-a-django-project-boilerplate/</a></p>
        <p>You can find the source code for it at <a href="https://github.com/tumblingprogrammer/djangoboilerplate">
            https://github.com/tumblingprogrammer/djangoboilerplate</a></p>
    </div>

    <hr>

    <p class="centered-text">This is regular text (i.e., with no Bootstrap applied)</p>
    <p class="centered-text"><span class="text-muted">This is a bootstrapped text - if different from the one above (i.e., it is greyish),
        Bootstrap works!</span></p>

{% endblock %}

{% block scripts %}
{% endblock %}