

{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %} Home
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}


    <div class="container top-content-container">

        <h3>Utilities</h3>
        <p><a href="{% url 'slugifier' %}">Slugifier</a> - a tool that slugifies text for you. <span class="highlight">Bonus!</span>
            If you use markdown, the app can also help you generate full blown markdown image links.</p>
        <p><a href="{% url 'django_secret_key_generator' %}">Django secret key generator</a> - a tool that automatically
            generates a 50-digit django secret key that you can use on your django projects.</p>
    </div>



{% endblock %}

{% block scripts %}
{% endblock %}