{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %} Account settings
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

    <div class="container top-content-container">
        <h3>Account Settings</h3>
    <p><a href="{% url 'auth_password_reset' %}">Reset your password</a></p>
    <p><a href="{% url 'auth_password_change' %}">Change your password</a></p>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}