

{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}

{% block title %} Slugifier
{% endblock %}

{% block head %}
{% endblock %}


{% block content %}


    <div class="container top-content-container">
        <h3>Slugifier</h3>


        <div class="slugify-container row">

            <div class="col-sm-6">
                <p>Text to be slugified<input type="text" class="form-control"
                                              name="text_to_slugify" id="text-to-slugify"></p>

                <p><span class="highlight">Optional</span> Prefix to the slugified text<input type="text"
                                                                                              class="form-control"
                                                                                              name="prefix_to_slugified_text"
                                                                                              id="prefix-to-slugified-text">
                </p>

                <p><span class="highlight">Optional</span> Suffix to the slugified text<input type="text"
                                                                                              class="form-control"
                                                                                              name="suffix_to_slugified_text"
                                                                                              id="suffix-to-slugified-text">
                </p>

                <p>Slugified text</p>
                <div class="slugify-results">
                    <span id="slugified-text" class="dimmed-text">the slugified text will show here</span>
                </div>
                <div class="button-bar-div">
                    <div class="button-div inline"><input id="copy-to-clipboard-btn" class="btn btn-primary"
                                                          type="button" value="copy to clipboard"
                                                          data-clipboard-target="#slugified-text"></div>
                    <div class="button-div inline"><input id="clear-slugifier-fields" class="btn btn-primary"
                                                          type="button" value="clear fields"></div>
                </div>
            </div>

            <div class="col-sm-6">
                <h4><span class="highlight">Optional</span> Markdown image link constructor</h4>
                <p>Prefix<input type="text" class="form-control"
                                name="prefix_to_the_link_constructor"
                                id="prefix-to-the-link-constructor"></p>

                <p>File location<input type="text" class="form-control" name="location_of_the_file"
                                       id="location-of-the-file"></p>

                <p>Constructed markdown link</p>
                <div class="slugify-results">
                <span id="markdown-link" class="dimmed-text"><!--
                    --><span class="markdown-link-fixed-text">![</span>
                    <span class="markdown-link-prefix-to-the-link-constructor">...prefix to the image link constructor...</span>
                    <span class="markdown-link-text-to-slugify">...text to be slugified...</span>
                    <span class="markdown-link-fixed-text">](</span>
                        <span id="markdown-link-location-of-the-file">... file location ...</span><!--
                    --><span id="markdown-link-slugified-file-name">... slugified file name ...</span>
                    <span class="markdown-link-fixed-text">"</span>
                    <span class="markdown-link-prefix-to-the-link-constructor">...prefix to the link constructor...</span>
                    <span class="markdown-link-text-to-slugify">...text to slugify...</span>
                    <span class="markdown-link-fixed-text">")</span>
                </span>
                </div>
                <div class="button-bar-div">
                    <div class="button-div inline"><input id="copy-to-clipboard-btn" class="btn btn-primary"
                                                          type="button" value="copy to clipboard"
                                                          data-clipboard-target="#markdown-link"></div>
                    <div class="button-div inline"><input id="clear-markdown-link-fields" class="btn btn-primary"
                                                          type="button" value="clear fields"></div>
                </div>

            </div>


        </div>

        <hr>

        <div class="button-div button inline"><input id="clear-all-fields" class="btn btn-primary" type="button"
                                                     value="clear all fields"></div>

        {% include 'includes/message.html' %}

        {#        <div class="button-div button inline"><input id="save-to-database" class="btn btn-primary" type="button"#}
        {#                                                     value="save to database"></div>#}
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="{% static 'js/slugifier.js' %}"></script>
    <script src="{% static 'js/message-alert.js' %}"></script>
{% endblock %}