appdirs==1.4.3
beautifulsoup4==4.6.0
Django==1.11.1
django-bootstrap3==8.2.3
django-environ==0.4.3
django-livereload-server==0.2.3
packaging==16.8
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
tornado==4.5.1
