{% extends "base.html" %}
{% load i18n %}

{% block title %} Confirm password reset
{% endblock %}



{% block content %}
    <div class="container top-content-container">
        <h3 class="centered-text">Confirm password reset</h3>
        <div class="registration-div">

            {% if validlink %}

                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="{% trans 'Submit' %}"/>
                </form>

            {% else %}

                <p>{% trans "Password reset failed" %}</p>

            {% endif %}

        </div>
    </div>

{% endblock %}
